.factory-list {
  list-style: none;
  padding: 0px 10px;
}

.glyphicon-plus {
  margin-left: 5px;
}

.root-panel{
  padding: 15px 0px;
}

.panel-heading {
  position: relative;
}

.panel-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar {
  border-radius: 0;
}

.pointer{
  float: left;
  margin-top: 12px;
}