<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <flash-messages></flash-messages>
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h2 class="panel-title pull-left">Root</h2>
        <button class="btn btn-success btn-sm pull-right" (click)="addFactory()">New Factory<span class="glyphicon glyphicon-plus"></span></button>
      </div>
      <div *ngIf="this.factories.length > 0" class="panel-body">
        <ul class="factory-list">
          <li *ngFor="let factory of factories">
            <app-factory [factory]="factory" (factoryDeleted)="onDeleted($event)"></app-factory>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<app-modal>
  <div class="app-modal-header">
    Add New Factory
  </div>
  <div class="app-modal-body">
     <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Factory Name:</label>
      <div class="col-sm-10">
        <input class="form-control" id="name" type="text" placeholder="Name" [(ngModel)]="newFactory.name">
      </div>
    </div>
    <div class="form-group row">
      <label for="lowerBound" class="col-sm-2 col-form-label">Lower Bound:</label>
      <div class="col-sm-10">
        <input class="form-control" id="lowerBound" type="text" placeholder="Lower Bound" [(ngModel)]="newFactory.lowerBound">
      </div>
    </div>
    <div class="form-group row">
      <label for="upperBound" class="col-sm-2 col-form-label">Upper Bound:</label>
      <div class="col-sm-10">
        <input class="form-control" id="upperBound" type="text" placeholder="Upper Bound" [(ngModel)]="newFactory.upperBound">
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn" (click)="addFactoryModal.hide()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="createFactory()">Create</button>
  </div>
</app-modal>
