.children-list{
    list-style: none;
}

.name-input{
    padding: 3px 10px;
    height: initial;
    width: 100px;
}

.options{
    font-size: 1.2em;
    margin-left: 5px;
    vertical-align: middle;
}

.input-group{
    width: 150px;
}

.child-pointer{
    margin-bottom: 7px;
    margin-right: 3px;
}