.children-list{
    list-style: none;
}

.child-element{
    margin-bottom: 5px;
}
.name-input{
    padding: 3px 10px;
    height: initial;
}

.options{
    font-size: 1.2em;
    margin-left: 5px;
    vertical-align: middle;
}

.input-group{
    width: 140px;
}